html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Rajdhani', sans-serif;
  font-size: 62.5%;
}
body {
  min-width: 350px;
}
h1 {
  font-size: 3.5rem;
  font-weight: 500;
  background: #ECEFF0;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin: 0.5rem;
  font-size: 1.6rem;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}
.slide-out-bottom {
  animation: slide-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.dropdown .nav-btn {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: #FFEB38;
  border-radius: 50px;
}
.dropdown .nav-btn:hover {
  margin: 8px;
  width: 52px;
  height: 52px;
}
.dropdown .links {
  width: 300px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}
.dropdown .link {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.dropdown .link:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
.dropdown .dropdown-selected {
  display: flex;
}
.home .carousel-wrapper {
  background-image: url("../../Components/home/yellow-and-black-corporate-art-background-vector-3158800.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.home .carousel-wrapper .Carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.home .carousel-wrapper .Carousel .Carousel-Slide {
  left: 0;
  position: relative;
  background: grey;
  transition: left 0.5s linear;
}
.home .carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item {
  float: left;
}
.home .carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-Content {
  margin: 0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home .carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item button {
  width: 90%;
  height: 20%;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
  margin: 0 5%;
}
.home .carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item button:hover {
  width: 92%;
  height: 22%;
  color: #FFEB38;
  background-color: #000000;
}
.home .carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-image {
  width: 40%;
  height: 100%;
}
.home .carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-info {
  width: 0%;
  height: 100%;
}
.home .carousel-wrapper .Carousel-Controller,
.home .carousel-wrapper .Carousel-Controller-Nav {
  box-sizing: border-box;
  height: auto;
  left: 0;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
}
.home .carousel-wrapper .Carousel-Controller .Carousel-Controller-Nav-right,
.home .carousel-wrapper .Carousel-Controller-Nav .Carousel-Controller-Nav-right {
  float: right;
}
.home .carousel-wrapper [class^="Carousel-Controller-Nav-"] {
  color: #FFEB38;
  cursor: pointer;
  width: auto;
  float: left;
  font-size: 30px;
  height: 100%;
}
.home .carousel-wrapper [class^="Carousel-Controller-Nav-"]:hover {
  color: #000;
}
.home .carousel-wrapper #completed {
  display: none;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0);
  letter-spacing: 1px;
}
.header {
  width: 100%;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}
.header .logo-icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}
.header .logo {
  margin: 10px;
  margin-left: -50px;
  width: 200px;
  height: 50px;
}
.carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}
.carousel-wrapper .Carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.carousel-wrapper .Carousel .Carousel-Slide {
  left: 0;
  position: relative;
  background: grey;
  transition: left 0.5s linear;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item {
  float: left;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-Content {
  margin: 0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item button {
  width: 90%;
  height: 20%;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
  margin: 0 5%;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item button:hover {
  width: 92%;
  height: 22%;
  color: #FFEB38;
  background-color: #000000;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-image {
  width: 40%;
  height: 100%;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-info {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 100%;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-info h1 {
  background: none;
  color: #FFEB38;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-info img {
  width: 60px;
  height: 30px;
}
.carousel-wrapper .Carousel-Controller,
.carousel-wrapper .Carousel-Controller-Nav {
  box-sizing: border-box;
  height: auto;
  left: 0;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
}
.carousel-wrapper .Carousel-Controller .Carousel-Controller-Nav-right,
.carousel-wrapper .Carousel-Controller-Nav .Carousel-Controller-Nav-right {
  float: right;
}
.carousel-wrapper [class^="Carousel-Controller-Nav-"] {
  color: #FFEB38;
  cursor: pointer;
  width: auto;
  float: left;
  font-size: 30px;
  height: 100%;
}
.carousel-wrapper [class^="Carousel-Controller-Nav-"]:hover {
  color: #000;
}
.carousel-wrapper #completed {
  display: none;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: white;
  letter-spacing: 1px;
}
.wrapper {
  margin-top: 100px;
  height: 100%;
  z-index: 1;
}
.wrapper .content {
  display: none;
}
.wrapper .change {
  display: block;
}
.wrapper .home .landing {
  padding: 10px;
  padding-top: 30px;
  position: relative;
  top: -33px;
  background: #FECE22;
}
.wrapper .contact .main-cont img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.wrapper .contact .main-cont button {
  margin: 0 auto;
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.wrapper .contact .main-cont button:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
.navBG {
  position: absolute;
  left: 0px;
  top: 100px;
  display: none;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-image: url("../../Components/images/DropDownCover.jpg");
  opacity: 0.1;
  background-position: center;
  background-size: cover;
}
.dropdown-selected2 {
  display: flex;
}
.footer {
  position: relative;
  bottom: 0;
  z-index: 6;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #ECEFF0;
}
.footer .contact {
  padding: 10px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .contact p {
  margin: 10px 0;
}
.footer .contact button {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.footer .contact button:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
