html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Rajdhani', sans-serif;
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  color: black;
  font-family: 'Rajdhani', sans-serif;
}
h1 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  font-weight: 500;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  margin: 0.5rem;
  font-size: 2.1rem;
}
q {
  margin: 0.5rem;
  font-size: 1.8rem;
}
strong {
  font-weight: 400;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid grey;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}
.slide-out-bottom {
  animation: slide-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-image: url("../../Images/black-and-yellow-wallpaper-11-background.jpg");
  background-position: center;
  background-size: cover;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: black;
  background: yellow;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel .slide {
  width: 50%;
  height: 100%;
  margin: 0 40px;
  display: none;
}
.carousel .slide .slide-image {
  width: 300px;
  height: 100%;
  display: none;
  opacity: 0;
  position: relative;
  bottom: -10px;
}
.carousel .slide .splash-info {
  margin: 10px auto;
  height: 284px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 300px;
  justify-content: center;
}
.carousel .slide .splash-info h1 {
  background: none;
  font-weight: 800;
  color: #FFEB38;
}
.carousel .slide .splash-info h2,
.carousel .slide .splash-info p {
  color: #fdfcfc;
}
.carousel .slide .splash-info img {
  margin: 10px;
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.dropdown .nav-btn {
  margin: 10px;
  padding: 2px;
  width: 50px;
  height: 50px;
  background: #FFEB38;
  border-radius: 50px;
}
.dropdown .nav-btn:hover {
  margin: 8px;
  width: 52px;
  height: 52px;
}
.dropdown .links {
  width: 300px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}
.dropdown .link {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.dropdown .link:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
.dropdown .dropdown-selected {
  display: flex;
}
.header {
  width: 100%;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}
.header .logo-icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}
.header .logo-tm {
  margin: 10px;
  margin-left: -50px;
  width: 200px;
  height: 50px;
}
.content {
  width: 100%;
  margin-top: 100px;
  height: 100%;
  z-index: 1;
  display: none;
}
.change {
  display: block;
}
.landing {
  padding: 10px;
  padding-top: 30px;
  position: relative;
  z-index: 2;
  background: #fdfcfc;
}
.main-cont {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  position: relative;
  z-index: 3;
  background: #fdfcfc;
}
.main-cont .call-to-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-cont .call-to-action img {
  margin: 10px;
}
.main-cont .reviews {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-cont .reviews .review {
  margin: 20px;
  width: 275px;
  height: 200px;
}
.main-cont .reviews .male {
  background-image: url("../../Images/reviewCards/Male-Full-Card.png");
  background-position: center;
  background-size: cover;
}
.main-cont .reviews .female {
  background-image: url("../../Images/reviewCards/Female-Full-Card.png");
  background-position: center;
  background-size: cover;
}
.panel {
  margin: 40px auto;
}
.panel .graphic {
  widows: 300px;
  height: 300px;
}
.review-header {
  color: #fdfcfc;
  padding: 40px;
  background: #333333;
}
.profile-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-page .team-profile .graphic {
  width: 300px;
  height: 300px;
}
.profile-page .profile {
  width: 500px;
}
.profile-page .profile img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.icon .i {
  width: 80px;
  height: 80px;
}
.navBG {
  position: absolute;
  left: 0px;
  top: 100px;
  display: none;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/DropDownCover.jpg");
  opacity: 0.1;
  background-position: center;
  background-size: cover;
}
.dropdown-selected2 {
  display: flex;
}
.footer {
  position: relative;
  bottom: 0;
  z-index: 6;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #ECEFF0;
}
.footer .contact {
  padding: 10px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .contact p {
  margin: 10px 0;
}
.footer .contact button {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.footer .contact button:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
