html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Rajdhani', sans-serif;
  font-size: 62.5%;
}
h1 {
  font-size: 3.5rem;
  font-weight: 500;
  background: #ECEFF0;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin: 0.5rem;
  font-size: 1.6rem;
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.dropdown .nav-btn {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: #FFEB38;
  border-radius: 50px;
}
.dropdown .nav-btn:hover {
  margin: 8px;
  width: 52px;
  height: 52px;
}
.dropdown .links {
  width: 300px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}
.dropdown .link {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.dropdown .link:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
.dropdown .dropdown-selected {
  display: flex;
}
.carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}
.carousel-wrapper .Carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.carousel-wrapper .Carousel .Carousel-Slide {
  left: 0;
  position: relative;
  background: grey;
  transition: left 0.5s linear;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item {
  float: left;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-Content {
  margin: 0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item button {
  width: 90%;
  height: 25%;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item button:hover {
  width: 92%;
  height: 27%;
  color: #FFEB38;
  background-color: #000000;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-image {
  width: 40%;
  height: 100%;
  border: 1px solid red;
}
.carousel-wrapper .Carousel .Carousel-Slide .Carousel-Slide-item .Carousel-Slide-info {
  width: 40%;
  height: 100%;
  border: 1px solid red;
}
.carousel-wrapper .Carousel-Controller,
.carousel-wrapper .Carousel-Controller-Nav {
  box-sizing: border-box;
  height: auto;
  left: 0;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
}
.carousel-wrapper .Carousel-Controller .Carousel-Controller-Nav-right,
.carousel-wrapper .Carousel-Controller-Nav .Carousel-Controller-Nav-right {
  float: right;
}
.carousel-wrapper [class^="Carousel-Controller-Nav-"] {
  color: #FFEB38;
  cursor: pointer;
  width: auto;
  float: left;
  font-size: 30px;
  height: 100%;
}
.carousel-wrapper [class^="Carousel-Controller-Nav-"]:hover {
  color: #000;
}
.carousel-wrapper #completed {
  display: none;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: white;
  letter-spacing: 1px;
}
.header {
  width: 100%;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}
.header .logo-icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}
.header .logo {
  margin: 10px;
  width: 200px;
  height: 50px;
}
.wrapper {
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
  height: 100%;
  z-index: 1;
}
.wrapper .content {
  padding: 10px;
  margin: 5px auto;
  display: none;
}
.wrapper .change {
  display: block;
}
.wrapper .contact .main-cont img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.navBG {
  position: absolute;
  left: 0px;
  top: 100px;
  display: none;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.418);
}
.dropdown-selected2 {
  display: flex;
}
.footer {
  position: relative;
  bottom: 0;
  z-index: 6;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #ECEFF0;
}
.footer .contact {
  padding: 10px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .contact p {
  margin: 10px 0;
}
.footer .contact button {
  width: 268px;
  height: 47px;
  margin: 2px auto;
  border: solid 3px darken #FFEB38;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  color: #000000;
  background-color: #FFEB38;
  cursor: pointer;
}
.footer .contact button:hover {
  width: 270px;
  height: 49px;
  color: #FFEB38;
  background-color: #000000;
}
