@import './Variables/variables.less';


.cust-btn(@width,@height){
    width: @width;
    height: @height;
    margin: 2px auto;
    border: solid 4px @border;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: @text;
    background-color: @background;
    
}