//=====General Colors
@text: #000000;
@h1BG: rgb(253, 252, 252);
@companyYellow: #FFEB38;
//===== Button Colors
@background: @companyYellow;
@border: darken @companyYellow;

//=====Header Colors
@navbackground: #000000;

//===== Body Colors
@carouselNav: @companyYellow;
@HomePageBG:  #FEF432;
@reviewHeaderBG: #333333;

//=====Footer Colors
@footerbackground: #ECEFF0;





