.wrapper {
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
  height: 100%;
  z-index: 1;

  .content {
    padding: 10px;
    margin: 5px auto;
    display: none;
  }
  .change {
    display: block;
  }
}
.navBG {
  position: absolute;
  top: 100px;
  display: none;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.418);
}
.dropdown-selected2 {
  display: flex;
}