
.content {
  width: 100%;
  margin-top: 100px;
  height: 100%;
  z-index: 1;
  display: none;
}
.change {
  display: block;
}
.landing {
  padding: 10px;
  padding-top: 30px;
  position: relative;
  z-index: 2;
  background: @h1BG;
}
.main-cont {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  position: relative;
  z-index: 3;
  background: @h1BG;

  .call-to-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
      margin: 10px;
    }
  }
  .reviews {
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .review{
      margin: 20px;
      width:275px;
      height:200px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between; 
      .words {
        display: flex;
        width: 276px;
        height:156px;
        padding: 10px;
        text-align: center;
        align-items: center;
      }
      p {
      font-size: 1.8rem;
      }
      h3 {
        text-align: left;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 5px;
        margin-left: 30px;
        margin-bottom: 0;
        width: 150px;
      }
      
    }
    .male {
      background-image: url("../../Images/reviewCards/Male-Full-Card.png");
      background-position: center;
      background-size: cover;
    }
    .female {
      background-image: url("../../Images/reviewCards/Female-Full-Card.png");
      background-position: center;
      background-size: cover;
    }
    
  }
  
}
.panel {
  margin: 40px auto;

  .graphic {
    widows: 300px;
    height: 300px;
  }
}
.review-header {
  color: @h1BG;
  padding: 40px;
  background: @reviewHeaderBG;
}

.circle-chart {
  height: 200px;
  width: 200px;
}
.circle-chart-circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}
.gpa-text {
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  /* text-transform: uppercase; */
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.profile-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .team-profile {
      .graphic {
        width: 300px;
        height: 300px;
      }
    }
    .profile {
      margin: 10px;
      padding: 10px;
      width: 500px;
      img{
        margin: 15px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
      }
    }
}
.icon {
  .i{
    width: 80px;
    height: 80px;
  }
  
}

.navBG {
  position: absolute;
  left: 0px;
  top: 100px;
  display: none;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/DropDownCover.jpg");
  opacity: 0.1;
  background-position: center;
  background-size: cover;
}
.dropdown-selected2 {
  display: flex;
}